<div class="footer">
    <div class="container flex">
      <div class="footer-contact">
        <h2 class="shadow">CONTACT US</h2>
        <p class="shadow">
          Connect with E.R.E Enterprise just by clicking these social media icons! You can also send us your concerns by sending a message through this page (link ng fb page)
        </p>
      </div>
      <div class="footer-icons">
        <a href="https://bit.ly/Facebook-ERE-Enterprise" target="_blank">
          <img class="social-icon" src="images/Facebook.svg" alt="Facebook">
        </a>
        <a href="https://bit.ly/TikTok-ERE-Enterprise" target="_blank">
          <img class="social-icon" src="images/TikTok.svg" alt="TikTok">
        </a>
        <a href="https://bit.ly/Instagram-ERE-Enterprise" target="_blank">
          <img class="social-icon" src="images/Instagram.svg" alt="Instagram">
        </a>
      </div>
    </div>
  </div>
