<header>
  <div id="header">
      <a href="/" id="logo" class="shadow">QCU Empire</a>
      <div id="header-right" class="shadow">
          <div class="header-text">
              <a href="/entrep/" class="<%= activePage === 'sales' ? 'active' : '' %>">Sales</a>
              <a href="/entrep/products" class="<%= activePage === 'products' ? 'active' : '' %>">Products</a>
              <a href="/entrep/orders" class="<%= activePage === 'orders' ? 'active' : '' %>">Orders</a>
              <a href="/entrep/logout">Log Out</a>
          </div>
      </div>
  </div>
</header>
