<div class="body">
  <div class="container order-body">
    <h1 class="shadow">Orders Summary</h1>
    <div class="flex shadow navs">
      <a class="active" href="#">Pending</a>
      <a href="#">In Progress</a>
      <a href="#">Completed</a>
      <a href="#">Cancelled</a>
    </div>
    <div>
      <div class="order-container flex">
        <img src="/images/cheese.svg" />
        <div>
          <p>10 Nov 2024, Academic Building IL505, 10:30 AM</p>
          <h4>Order #: 0002</h4>
          <p>1 pc. Sour Cream, 50% Spice Level,</p>
          <p>Cash on delivery</p>
        </div>
      </div>
      <div class="order-buttons">
        <button>Confirm Order</button>
        <button>Decline Order</button>
      </div>
    </div>
  </div>
</div>
