<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/6dd2d34b20.js" crossorigin="anonymous"></script>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet'>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/responsive.css" />
  <link rel="stylesheet" href="css/adminstyle.css" />
  <title>Add Product</title>
</head>
<body>
    <div id="header">
        <a href="index.html" id="logo" class="shadow">QCU Empire</a>
        <div id="header-right" class="shadow">
            <div class="header-text">
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="products.html">Products</a>
            </div>
          <div class="header-icons">
            <a href="cart.html"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart"><circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/></svg></a>
            <a href="profile.html"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user"><circle cx="12" cy="12" r="10"/><circle cx="12" cy="10" r="3"/><path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662"/></svg></a>
          </div>
        </div>
      </div>
    </div>

    <form>
    <div class="body">
        <h1 class="h1-2">P’KA CHIPS</h1>
        <div class="container px-20 detail-body add-body">
            <div class="flex">
                <div class="detail-card">
                    <img src="images/cheese.svg" alt="">
                    <h2 class="shadow">CHEESE</h2>
                    <a>Add / Change Photo</a>
                </div>
                <div class="detail-card-information">
                  <textarea placeholder="Product description..."></textarea>
                  <div class="flex">
                    <div>
                      <label for="price">Price:</label>
                      <input type="number" id="price" name="price" class="price">
                    </div>
                    <div>
                      <label for="stock">Stock:</label>
                      <input type="number" id="stock" name="stock">
                    </div>

                  </div>
                    
                  <button type="submit" class="btn btn-2">SUBMIT</button>
                </div>
            </div>



            </div>

        </div>
    </div>
  </form>


    <div class="footer">
        <div class="container">
            <p style="text-align: center;"> Copyright ⓒ 2024 | QCU EMPIRE </p>
      </div>
</body>
