
  <div class="about-hero">

  </div>

  <div class="about-body body">
    <div class="container">
      <h1 class="h1-1">About E.R.E</h1>
      <p class="p-1">As Bachelor of Science in Entrepreneurship students, we are aiming to showcase the innovative skills to create innovative products for the market. This course will guide the students in enhancing entrepreneurial skills, preparing for the future as a business owner. In a highly competitive market, E.R.E. Enterprise aspires to soar high and compete with other established companies. Establishing a business while being a student can be challenging, but it fosters critical thinking and creativity- both qualities that are needed to manage an enterprise effectively.</p>
      <br>
      <p class="p-1">E.R.E. enterprise observed a gap in the market, particularly the absence of different levels of spiciness in chips offerings. This realization presented an opportunity to provide a solution towards that problem, leading to creating various levels of spiciness to satisfy different customer preferences. Furthermore, it aims to contribute to the development of the culture of enterprise at Quezon City University, by supporting efforts to improve economic and community well-being</p>
    </div>
  </div>


